<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.P_One">
        <activity
            android:name=".EditCrud.listcrudProfesor"
            android:exported="false" />
        <activity
            android:name=".EditCrud.crudRolesEdit"
            android:exported="false" />
        <activity
            android:name=".EditCrud.crudProfesorEdit"
            android:exported="false" />
        <activity
            android:name=".EditCrud.crudCursoEditar"
            android:exported="false" />
        <activity
            android:name=".EditCrud.listcrudAlumno"
            android:exported="false"
            android:screenOrientation="locked" />
        <activity
            android:name=".EditCrud.crudAlumnoEditar"
            android:exported="false"
            android:screenOrientation="locked" />
        <activity
            android:name=".EditCrud.listcrudAdmin"
            android:exported="false"
            android:screenOrientation="locked" />
        <activity
            android:name=".crudAdmin.crudAdministradorEditar"
            android:exported="false"
            android:screenOrientation="locked" />
        <activity
            android:name=".listCursosProfe"
            android:exported="false"
            android:screenOrientation="locked" />
        <activity
            android:name=".listAlumnos"
            android:exported="false"
            android:screenOrientation="locked" />
        <activity
            android:name=".listPuntuacionProfe"
            android:exported="false"
            android:screenOrientation="locked" />
        <activity
            android:name=".bienvenidaScreenProfe"
            android:exported="false"
            android:screenOrientation="locked" />
        <activity
            android:name=".bienvenidaScreen"
            android:exported="false"
            android:screenOrientation="locked" />
        <activity
            android:name=".Ranking"
            android:exported="false"
            android:screenOrientation="locked" />
        <activity
            android:name=".Results"
            android:exported="false"
            android:screenOrientation="locked" />
        <activity
            android:name=".mathQuiz"
            android:exported="false"
            android:screenOrientation="locked" />
        <activity
            android:name=".ScreenApodo"
            android:exported="false"
            android:screenOrientation="locked" />
        <activity
            android:name=".crudAdmin.crudEditRol"
            android:exported="false"
            android:screenOrientation="locked" />
        <activity
            android:name=".crudAdmin.crudCursos"
            android:exported="false"
            android:screenOrientation="locked" />
        <activity
            android:name=".crudAdmin.crudAdministrador"
            android:exported="false"
            android:screenOrientation="locked" />
        <activity
            android:name=".crudAdmin.crudProfesor"
            android:exported="false"
            android:screenOrientation="locked" />
        <activity
            android:name=".crudAdmin.crudRoles"
            android:exported="false"
            android:screenOrientation="locked" />
        <activity
            android:name=".menuProfesor"
            android:exported="false"
            android:screenOrientation="locked" />
        <activity
            android:name=".menuAdmin"
            android:exported="false"
            android:screenOrientation="locked" />
        <activity
            android:name=".crud_registro"
            android:exported="false"
            android:screenOrientation="locked" />
        <activity
            android:name=".crudAdmin.crudAlumno"
            android:exported="false"
            android:screenOrientation="locked" />
        <activity
            android:name=".Login"
            android:exported="true"
            android:screenOrientation="locked">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>